page-crackimage {

    .contenedor{
        margin: auto;
       

  
        h1.title{
            
            text-align: center;
        }
        
        img.imagen{

            width: 100%;
        }
    }
}
